.floatBtn:active { transform: translateY(2px) scale(.985); box-shadow: 0 0 0 transparent !important; transition: transform .12s; }
.caseBtn:active { transform: translateY(2px) scale(.985); box-shadow: 0 0 0 transparent !important; transition: transform .12s; }
.actBtn:active { transform: translateY(2px) scale(.985); box-shadow: 0 0 0 transparent !important; transition: transform .12s; }
.oppBtn:active { transform: translateY(2px) scale(.985); box-shadow: 0 0 0 transparent !important; transition: transform .12s; }
.cmtBtn:active { transform: translateY(2px) scale(.985); box-shadow: 0 0 0 transparent !important; transition: transform .12s; }
.lkBtn { transition: transform .12s; }
.lkBtn:active { transform: translateY(2px) scale(.985); box-shadow: 0 0 0 transparent !important; }
